*{
  box-sizing: border-box;
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  flex-direction: column
}

.container h1{
  color: #235cb4;
  font-weight: bold;
}

#text{
  margin: 10px 0px;
  padding: 5px;
  border: #235cb4 solid 2px;
  border-radius: 5px;
}

#btn{
  padding: 10px 25px;
  border: none;
  border-radius: 5px
}
